@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400&display=swap");
/* IMPORTED FONTS
* + Quattrocento Sans (Regular 400, Regular 400 Italic, Bold 700)
*
* + Mulish (XLite 200, XLite 200 Italic, Lite 300, Lite 300 Italic, Regular 400, Regular 400 Italiac, Medium 500, Medium 500 Italic)
*/

/* COLOUR PALETTE: https://coolors.co/423e37-777470-888582-aba8a8-cdcbcd-fbf9ff-cfdcee-a3bedc-77a0cb-4a82b9 */

/* ==================== UNIVERSAL ==================== */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #fbf9ff;
  font-family: "Quattrocento Sans", "Mulish", Arial, Helvetica, sans-serif;
  color: #423e37;
  margin: 0;
  padding: 0;
}

h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#division {
  margin: 80px auto;
  border-radius: 50%;
  max-width: 80%;
}

.section-heading {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: 8px;
  margin: 0;
}

.next-line {
  display: block;
}

/* ==================== LINKS and MENU ==================== */

/* ==================== LINKS ==================== */

/* === General Links === */
a,
a i,
#menu-toggle a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:link {
  color: #3c6078;
}

a:visited {
  color: #98bddc;
}

a:hover {
  color: #cadbee;
}

a:active {
  color: #3581b8;
}

/* === Icon Links === */
a i,
a:link i,
a:visited i {
  color: #423e37;
}

a:hover i {
  color: #cadbee;
}

a:active i {
  color: #aba8a8;
}

/* ==================== MENU ==================== */

#nav {
  position: fixed;
  top: 0;
}

#menu-tab {
  display: block;
  position: absolute;
  top: 24px;
  left: 24px;
  width: 34px;
  height: 22px;
  background-color: #fbf9ff;
  border-radius: 8%;
}

#menu-toggle {
  display: block;
  position: relative;
  padding-left: 24px;
  padding-top: 24px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menu-toggle a {
  color: #fbf9ff;
}

#menu-toggle a:hover {
  color: #98bddc;
}

#menu-toggle a:active {
  color: #3581b8;
}

#menu-toggle input {
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 16px;
  left: 20px;
  cursor: pointer;
  opacity: 0; /* hides input check */
  z-index: 2; /* placed over hamburger */
  -webkit-touch-callout: none;
}

/* === Hamburger Menu Design === */
#menu-toggle span {
  display: block;
  width: 34.2px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 4px;
  z-index: 1;
  background: #423e37;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* === Animating hamburger to close 'X' === */

#menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #fbf9ff;
}

#menu-toggle input:checked ~ span:nth-last-child(3) /* hides the middle bar when animating to X*/ {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked ~ span:nth-last-child(2) /* crosses the X*/ {
  transform: rotate(-45deg) translate(0px, -1px);
}

#menu {
  position: absolute;
  width: 152px;
  margin: -100px 0 0 -28px;
  padding: 0 24px;
  padding-top: 100px;
  background: #423e37;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  border-radius: 0px 0px 15px 0px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

#menu li {
  font-family: "Mulish";
  font-weight: 300;
  text-align: center;
  margin: 16px 0px;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
}

.nav-division {
  width: 100%;
  border-radius: 50%;
}

#menu-toggle input:checked ~ ul {
  transform: none;
}

/* ==================== HOME ==================== */

.home-container {
  text-align: center;
  padding: 0;
}

/* .emblem-overlay {
  display: block;
  position: absolute;
  top: 47px;
  left: 66px;
  padding: 120px;
  border: 1px solid red;
} */

.emblem {
  margin: 48px 0 0 0;
  max-width: 240px; /* 12.5em */
  max-height: 240px; /* 12.5em */
}

.main-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 16px 24px 0 24px;
}

.subtext {
  font-family: "Mulish";
  font-weight: 200;
  margin: 8px 24px 16px 24px;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
}

.subtext p {
  margin: 0;
}

.social-icons {
  font-size: 48px;
  display: flex;
  justify-content: center;
  gap: 36px;
}

/* ==================== ABOUT ==================== */

.about-content-container {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  margin: 0 32px;
  gap: 32px;
}

.desktop-sect-heading {
  display: none;
}

.profile-pic {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid rgba(66, 62, 55, 0.5);
  border-radius: 40px;
}

.bio {
  font-family: "Mulish";
  text-align: justify;
  line-height: 32px;
  font-size: 16px;
}

.contact-info {
  font-family: "Mulish";
  width: fit-content;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
}

.contact-info i {
  font-size: 24px;
}

.fa-mobile-screen-button {
  padding: 0 3px; /* center the mobile icon under the envelope icon */
}

/* ==================== RESUME ==================== */

.resume-container {
  text-align: center;
  margin: 0px 32px;
}

.experience-container {
  text-align: left;
  font-family: "Mulish";
  font-weight: 200;
}

.experience-type {
  font-size: 28px;
  font-family: "Mulish";
  font-weight: 500;
  margin: 32px 0;
  text-align: center;
}

.experience-name {
  font-size: 24px;
  font-family: "Mulish";
  font-weight: 500;
}

/* ==================== PROJECTS ==================== */

.projects-content-container {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  margin: 24px;
  justify-content: center;
}

/* === PROJECT ITEM CARDS === */
.project-card-item {
  border: 0.5px solid rgba(66, 62, 55, 0.5);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  text-align: center;
  width: fit-content;
}

.project-name {
  font-size: 28px;
  margin: 0 16px;
  font-family: "Mulish";
  font-weight: 500;
}

.project-preview img {
  width: 80%;
  border: 1px solid rgba(66, 62, 55, 0.5);
  border-radius: 20px;
  margin: 16px;
}

.project-description {
  font-family: "Mulish";
  font-weight: 200;
  margin: 16px 24px;
  line-height: 24px;
  font-size: 16px;
  text-align: justify;
}

.project-description p {
  margin: 0;
}

.project-media-icon {
  display: flex;
  flex-flow: row wrap;
  gap: 80px;
  font-size: 32px;
  margin: 0 16px 16px 16px;
  justify-content: center;
}

.fa-arrow-up-right-from-square {
  padding: 0 4px;
}

/* ==================== FOOTER ==================== */
#footer {
  font-family: "Mulish";
  font-weight: 200;
  text-transform: uppercase;
  font-size: 8px;
  text-align: center;
  background-color: #423e37;
  color: #fbf9ff;
  padding: 16px;
  margin-top: 24px;
}

/* ==================== MEDIA QUERIES ==================== */

/* === TABLET === */

@media screen and (min-width: 769px) {
  .section-heading {
    font-size: 44px;
    line-height: 48px;
  }

  /* ==================== TABLET 769px HOME ==================== */

  .emblem {
    max-width: 340px;
    max-height: 340px;
  }

  .main-title {
    font-size: 64px;
    letter-spacing: 12px;
    margin: 24px 32px 0 32px;
  }

  .subtext {
    font-size: 24px;
    line-height: 40px;
    margin: 16px 32px 28px 32px;
  }

  .social-icons {
    font-size: 64px;
    gap: 58px;
  }

  /* ==================== TABLET 769px ABOUT ==================== */

  .about-content-container {
    margin: 32px 58px;
  }

  .profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 80px;
  }

  .bio {
    line-height: 36px;
    font-size: 20px;
  }

  .contact-info {
    font-size: 20px;
  }

  .contact-info i {
    font-size: 28px;
  }

  .fa-mobile-screen-button {
    padding: 0 3.5px; /* center the mobile icon under the envelope icon */
  }

  /* ==================== TABLET 769px RESUME ==================== */

  .resume-container {
    margin: 0 58px;
  }

  .experience-container {
    font-size: 20px;
  }

  .experience-type {
    font-size: 36px;
    margin: 32px 0;
  }

  .experience-name {
    font-size: 28px;
  }

  /* ==================== TABLET 769px PROJECTS ==================== */

  .projects-content-container {
    gap: 32px;
    margin: 24px 58px 58px 58px;
  }

  /* === PROJECT ITEM CARDS === */
  .project-card-item {
    border: 0.5px solid rgba(66, 62, 55, 0.5);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 80px;
  }

  .project-name {
    font-size: 36px;
  }

  .project-preview img {
    border-radius: 40px;
    margin: 32px;
  }

  .project-description {
    margin: 28px 40px;
    line-height: 36px;
    font-size: 20px;
  }

  .project-media-icon {
    gap: 160px;
    font-size: 36px;
    margin: 0 32px 32px 32px;
  }

  .fa-arrow-up-right-from-square {
    padding: 0 4.5px;
  }

  /* ==================== TABLET 769px FOOTER ==================== */
  #footer {
    margin-top: 32px;
  }
}

/* === DESKTOP === */

@media screen and (min-width: 1025px) {
  #home,
  #about,
  #resume,
  #projects {
    max-width: 1440px;
    /* margin: auto; */
  }

  /* ==================== DESKTOP 1025px MENU ==================== */

  #menu {
    width: 268px;
    padding: 0 64px;
    padding-top: 100px;
  }

  #menu li {
    margin: 28px 0px;
    font-size: 28px;
  }

  /* ==================== DESKTOP 1025px HOME ==================== */

  /* ==================== DESKTOP 1025px ABOUT ==================== */

  .about-content-container {
    flex-flow: row;
    align-items: center;
    margin: 32px 58px;
    gap: 58px;
  }

  .mobile-sect-heading {
    display: none;
  }

  .desktop-sect-heading {
    display: block;
  }

  .profile-pic {
    width: 400px;
    height: 400px;
    border-radius: 80px;
  }

  .contact-info {
    margin: 32px 32px 32px 0;
  }

  .contact-info i {
    font-size: 32px;
  }

  .fa-mobile-screen-button {
    padding: 0 4px; /* center the mobile icon under the envelope icon */
  }

  /* ==================== DESKTOP 1025px RESUME ==================== */

  .resume-container {
    margin: 0 58px;
  }

  /* ==================== DESKTOP 1025px PROJECTS ==================== */

  .projects-content-container {
    margin: 32px 58px 58px 58px;
    justify-content: space-evenly;
  }

  /* === PROJECT ITEM CARDS === */
  .project-card-item {
    flex-basis: 47%;
    /* display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between; */
  }

  .project-media-icon {
    font-size: 40px;
    margin: 0 36px 36px 36px;
  }

  .fa-arrow-up-right-from-square {
    padding: 0 5px;
  }

  /* ==================== DESKTOP 1025px FOOTER ==================== */
  #footer {
    font-size: 10px;
    margin-top: 58px;
  }
}

/* ==================== TODO ====================
- build backend and use PHP to loop database to generate resume and projects sections
- add resume section, displayed via pulling from a .json file;
- change project cards' full-displayed to modals;
- potentially switch to react and/or rebuild?;
*/
