@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

/* COLOUR PALETTE: https://coolors.co/423e37-777470-888582-aba8a8-cdcbcd-fbf9ff-cfdcee-a3bedc-77a0cb-4a82b9 */

html {
  box-sizing: border-box;
  background-color: #fbf9ff;
  font-family: Karla, sans-serif;
  color: #423e37;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* 16px = 1em; */

#division {
  margin: 5em auto;
  border-radius: 50%;
  max-width: 80%;
}

section {
  margin: 1em 0.75em;
}

.section-heading {
  font-size: 1.5em; /* 24px */
  text-align: center;
}

/* ==== NAV BAR ==== */

#nav {
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: #cdcbcd;
  list-style: none;
  margin: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
  text-align: center;
}

#nav ul {
  padding: 0;
}

#nav li {
  display: inline;
  font-size: 1.875em; /* 30px */
  margin: 0em 1em;
}

/* ==== HOME ==== */

#home {
  text-align: center;
  margin-top: 6em;
  padding: 0;
}

.emblem {
  max-width: 200px; /* 12.5em */
  max-height: 200px; /* 12.5em */
  overflow: hidden;
}

.my-title {
  font-size: 2.25em; /* 36px */
  margin: 0;
}

.subtext {
  font-size: 1em; /* 16px */
  line-height: 0.25em;
}

.social-icons {
  font-size: 2em;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

/* ==== ABOUT ==== */

#about {
  text-align: center;
}

.profile-pic {
  width: 150px; /* 9.375em */
  height: 150px; /* 9.375em */
  overflow: hidden;
  border: 0.5px solid rgba(66, 62, 55, 0.5);
  border-radius: 40px;
}

#about p {
  font-size: 0.75em;
}

.contact-info {
  width: fit-content;
  margin: 0 auto;
  text-align: left;
}

.fa-mobile {
  padding: 1.5px; /* 0.09375em */
}

#about p i {
  font-size: 1em;
}

/* ==== RESUME ==== */

/* ==== PROJECTS ==== */

.projects-container {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  gap: 1.5em;
}

#projects .section-heading {
  /* flex: 1 0 100%; */
  margin: 0;
}

/* PROJECT ITEM CARDS */
.project-card-item {
  border: 1px black solid;
  /* flex: 1 0 0; */
  min-width: 240px;
  min-height: 190px;
  border: 0.5px solid rgba(66, 62, 55, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.project-name {
  font-size: 1em; /* 16px */
  margin: 0.25em 0em;
}

.project-preview {
  /* width: 220px;
  height: 100px;
  border: 1px solid rgba(66, 62, 55, 0.5);
  border-radius: 15px; */
  margin: 0.5em;
  overflow: hidden;
}

.project-preview img {
  max-width: 250px;
  max-height: 180px;
  border: 1px solid rgba(66, 62, 55, 0.5);
  border-radius: 20px;
  margin: 0.5em;
}

.project-description {
  font-size: 0.75em; /* 12px */
  margin: 0.15em;
}

.project-card-item i {
  font-size: 1.25em; /* 20px */
  margin: 0.375em 0;
}

/* ==== FOOTER ==== */
#footer {
  font-size: 0.5em;
  text-align: center;
  background-color: #cdcbcd;
  padding: 1em;
}

/* ==== LINKS ==== */

/* Nav Links */
#nav a {
  display: inline;
  text-align: center;
  text-decoration: none;
}

#nav a:link {
  color: #423e37;
}

#nav a:visited {
  color: #3581b8;
}

#nav a:hover {
  color: #3581b8;
}

#nav a:active {
  color: #3581b8;
}

/* General Links */
a {
  text-decoration: none;
}

a:link {
  color: #3c6078;
}

a:visited {
  color: #98bddc;
}

a:hover {
  color: #cadbee;
}

a:active {
  color: #3581b8;
}

/* Clickable Icon Links */
a i {
  text-decoration: none;
}

a:link i {
  color: #423e37;
}

a:visited i {
  color: #423e37;
}

a:hover i {
  color: #cadbee;
}

a:active i {
  color: #aba8a8;
}

/* FOR WEB

Nav Bar
#nav {
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: #cdcbcd;
  list-style: none;
  margin: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
  text-align: center;
}

#nav .spacer {
  width: 8em;
  display: inline-block;
}

#nav li {
  display: inline;
  font-size: 1.875em; 30px
}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  gap: 1.5em;
}

#projects .section-heading {
  flex: 2 0 100%;
  margin-top: 0;
}

.project-card-item {
  border: 1px black solid;
  flex: 1 0 0;
  width: 600px;
  height: 400px;
  background: #fcf7f8;
  border: 0.5px solid rgba(66, 62, 55, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
} */
